<%= form_with(model: slot, local: true) do |form| %>
  <% if slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui form">
    <div class="field">
      <label>Event:</label>
      <%= form.collection_select :event_id, Event.order(:title), :id, :title, :prompt => "Select" %>
    </div>
    <div class="inline fields">
      <label>Title:</label>
      <%= form.text_field :title, class: "ui input" %>
    </div>
    <div class="three fields">
      <div class="inline field">
        <label>Date:</label>
        <%= form.date_field :date %>
      </div>
      <div class="inline field">
        <label>Start Time:</label>
        <%= form.time_select :start_time, value: "%H:%M" %>
      </div>
      <div class="inline field">
        <label>End Time:</label>
        <%= form.time_select :end_time, value: "%H:%M" %>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Location:</label>
        <%= form.text_field :location %>
      </div>
      <div class="field">
        <label>Room:</label>
        <%= form.text_field :room %>
      </div>
    </div>
    <div class="inline fields">
      <label>Speaker:</label>
      <%= form.text_field :speaker, class: "ui input" %>
    </div>
    <%= form.submit "Save", class: "ui button primary" %>
    <% if slot.event.present? %>
      <%= link_to "Cancel", event_path(slot.event), class: "ui red button" %>
    <% else %>
      <%= link_to "Cancel", events_path, class: "ui red button" %>
    <% end %>
  </div>
<% end %>
