<h1>Slots</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Event</th>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Location</th>
      <th>Room</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= slot.id %></td>
        <td><%= slot.event.title %></td>
        <td><%= slot.title %></td>
        <td><%= slot.date %></td>
        <td><%= slot.start_time %></td>
        <td><%= slot.duration %></td>
        <td><%= slot.location %></td>
        <td><%= slot.room %></td>
        <td><%= link_to 'Show', slot %></td>
        <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
        <td><%= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slot', new_slot_path %>
