<table class="ui definition table">
  <tbody>
    <tr>
      <td>Event</td>
      <td><%= @slot.event.title %></td>
    </tr>
      <td>Title</td>
      <td><%= @slot.title %></td>
    </tr>
      <td>Date</td>
      <td><%= @slot.date %></td>
    </tr>
      <td>Start Time</td>
      <td><%= @slot.start_time.strftime("%l:%M %P") %></td>
    </tr>
      <td>End Time</td>
      <td><%= @slot.end_time.strftime("%l:%M %P") %></td>
    </tr>
      <td>Location</td>
      <td><%= @slot.location %></td>
    </tr>
      <td>Room</td>
      <td><%= @slot.room %></td>
    </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_slot_path(@slot), class: "ui orange button" %>
<%= link_to 'Back to Event', event_path(@slot.event), class: "ui blue button" %>
