<%= form_with(model: participant, local: true) do |form| %>
  <% if participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui form">
    <div class="field">
      <label>Event:</label>
      <%= form.collection_select :event_id, Event.order(:title), :id, :title, :prompt => "Select" %>
    </div>
    <div class="two fields">
      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.label :telephone %>
        <%= form.text_field :telephone %>
      </div>
    </div>
    
    <div class="two fields">
      <div class="field">
        <%= form.label :affiliation %>
        <%= form.text_field :affiliation %>
      </div>
      <div class="field">
        <label>Is contact person?</label>
        <%= form.select(:is_contact_person, options_for_select([['Yes', true], ['No', false]], {:selected => participant.is_contact_person}),:prompt => "Select") %>

      </div>
    </div>

    <%= form.submit "Save", class: "ui button primary" %>
    <% if participant.event.present? %>
      <%= link_to "Cancel", event_path(participant.event), class: "ui red button" %>
    <% else %>
      <%= link_to "Cancel", events_path, class: "ui red button" %>
    <% end %>
  </div>
<% end %>
