
<h1>Participants</h1>

<% if @participants.present? %>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Affiliation</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Is contact person?</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= participant.first_name %></td>
          <td><%= participant.last_name %></td>
          <td><%= participant.affiliation %></td>
          <td><%= participant.email %></td>
          <td><%= participant.telephone %></td>
          <td>
            <% if participant.is_contact_person === true %>
            Yes
            <% else %>
            No
            <% end %>
          </td>
          <td>
            <%= link_to raw("<i class=\"edit outline icon\"></i>"), edit_participant_path(participant), class: "ui mini teal icon button"%>
            <%= link_to raw("<i class=\"trash icon\"></i>"), participant, class: "ui mini red icon button",
                      :method => :delete, :data => {:confirm => 'Are you sure?'} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Participants</p>
<% end %>

<br>

<%= link_to 'New Participant', new_participant_path, class: "ui orange button" %>
<%= link_to 'Back to Event', :back, class: "ui blue button" %>