
<h1>Participants</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Affiliation</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Is contact person?</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.first_name %></td>
        <td><%= participant.last_name %></td>
        <td><%= participant.affiliation %></td>
        <td><%= participant.email %></td>
        <td><%= participant.telephone %></td>
        <td>
          <% if participant.is_contact_person === true %>
          Yes
          <% else %>
          No
          <% end %>
        </td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path, class: "ui blue button" %>
