<table class="ui definition table">
  <tbody>
    <tr>
      <td>First Name</td>
      <td><%= @participant.first_name %></td>
    </tr>
      <td>Last Name</td>
      <td><%= @participant.last_name %></td>
    </tr>
      <td>Affiliation</td>
      <td><%= @participant.affiliation %></td>
    </tr>
      <td>Email</td>
      <td><%= @participant.email %></td>
    </tr>
      <td>Telephone</td>
      <td><%= @participant.telephone %></td>
    </tr>
      <td>Is contact person?</td>
      <td>
        <% if @participant.is_contact_person === true %>
        Yes
        <% else %>
        No
        <% end %>
      </td>
  </tbody>
</table>


<%= link_to 'Edit', edit_participant_path(@participant), class: "ui orange button" %>
<%= link_to 'Back to Event', event_path(@participant.event), class: "ui blue button" %>
