<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="ui form">
    <div class="inline fields">
      <label>Title:</label>
      <%= form.text_field :title, class: "ui input" %>
    </div>
    
    <div class="two fields">
      <div class="field">
        <label>Start Date:</label>
        <%= form.date_field :start_date %>
      </div>

      <div class="field">
        <label>End Date:</label>
        <%= form.date_field :end_date %>
      </div>
    </div>

    <div class="two fields">
      <div class="inline field">
        <label>Start Time:</label>
        <%= form.time_select :start_time, value: "%H:%M" %>
      </div>

      <div class="inline field">
        <label>End Time:</label>
        <%= form.time_select :end_time, value: "%H:%M" %>
      </div>
    </div>
      
    <div class="two fields">
      <div class="field">
        <label>Location:</label>
        <%= form.text_field :location %>
      </div>
      <div class="field">
        <label>Room:</label>
        <%= form.text_field :room %>
      </div>
    </div>
    <div class="field">
      <label>Description:</label>
      <%= form.text_area :description %>
    </div>
    <%= form.submit "Save", class: "ui button primary" %>
    <%= link_to "Cancel", events_path, class: "ui red button" %>
  </div>
<% end %>
