<div class="ui raised segment">
  <div class="ui items">
      <div class="item">
          <div class="content">
            <h1 class="ui blue header"><%= event.title %></h1>
            <div class="ui divider"></div>
            <table class="very basic table">
              <tbody>
                <tr>
                  <td rowspan="2"><i class="map marker alternate big icon"></i></td>
                  <td><%= event.location %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td rowspan="2"><i class="calendar alternate outline big icon"></td>
                  <td><strong>Starts: </strong><%= event.start_date.to_date %>, <%= event.start_time.strftime("%l:%M %P") %></td>
                </tr>
                <tr>
                  <td><strong>Room: </strong><%= event.room %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><strong>Ends: </strong><%= event.end_date.to_date %>, <%= event.end_time.strftime("%l:%M %P") %></td>
                </tr>
              </tbody>
            </table>
            <div class="ui divider"></div>
            <div class="meta"><span class="cinema">Description</span></div>
            <div class="description"><%= markdown(event.description) %></div>
            <div class="ui divider"></div>
            <div class="meta"><span class="cinema">Contact Person</span></div><br />
            <div class="ui celled horizontal list">
              <% event.participants.each do |participant| %>
                <% if participant.is_contact_person === true %>
                  <div class="item">
                    <i class="grey user icon"></i>
                    <%= participant.first_name %> <%= participant.last_name %><br /><br />
                    <i class="grey send icon"></i>
                    <a href="mailto: <% participant.email %>"><%= participant.email %></a><br /><br />
                    <i class="grey phone icon"></i>
                    <a href="tel: <% participant.telephone %>"><%= participant.telephone %></a>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>