<div class="row">
  <div class="two wide column">
    <p><%= slot.start_time.strftime("%l:%M %P") %> - <%= slot.end_time.strftime("%l:%M %P") %></p>
  </div>
  <div class="fourteen wide column">
    <div class="ui segment">
    	<div class="ui items">
    	<div class="item">
		    <div class="content">
		    	<%= link_to slot.title, edit_slot_path(slot.id), class: "header"%>
		      <p class="ui right floated"><%= slot.speaker %></p>
		      <div class="extra">
			      <br />
			      <div class="ui left floated"><i class="map marker alternate icon"></i> <%= slot.location %>, Room: <%= slot.room %></div>
			      <div class="ui right floated"><i class="clock outline icon"></i> <%= slot.duration %> minutes</div>
		      </div>
		      <div class="ui divider"></div>
			      <%= link_to raw("<i class=\"edit outline icon\"></i>"), edit_slot_path(slot.id), class: "ui right floated mini teal icon button"%>
          	<%= link_to raw("<i class=\"trash icon\"></i>"), slot, class: "ui right floated mini red icon button",
                      :method => :delete, :data => {:confirm => 'Are you sure?'} %>
		    </div>
		  </div>
  	</div>
	</div>
</div>
</div>