<div class="ui container">
	<div></div>
  <h2 class="ui blue header center aligned">Timetable</h2>
  <div class="ui divider"></div>
	<div class="ui tabular menu">
		<% event.days.each do |day| %>
			<div class="item <%= 'active' if day === event.days.first %>" data-tab="tab-name-<%=day.to_s %>">Day <%= event.days.find_index(day) + 1 %></div>
		<% end %>
	</div>
	<% event.days.each do |day| %>
		<div class="ui <%= 'active' if day === event.days.first %> tab" data-tab="tab-name-<%= day.to_s%>">
			<div class="ui internally celled grid">
				<% @event.slots.each do |slot| %>
					<% if day === slot.date%>
						<%= render 'slot_listed', slot: slot %>
					<% end %>
				<% end %>
		  </div>
		</div>
	<% end %>
</div>