<div class="ui divided items">
  <% @events.each do |event| %>
    <div class="item">
      <div class="content">
        <%= link_to event.title, event, class: "ui large blue header" %>
        <!-- <div class="description">
          <%= markdown(event.description) %>
        </div> -->
        <div class="extra">
          <div class="ui label"><i class="map marker alternate icon"></i> <%= event.location %></div>
          <div class="ui label"><i class="calendar alternate outline icon"></i> <%= event.start_date.to_date %></div>
          <div class="ui label"><i class="clock outline icon"></i> <%= event.start_time.strftime("%l:%M %P") %></div>
          <%= link_to raw("<i class=\"edit outline icon\"></i>"), edit_event_path(event), class: "ui right floated mini teal icon button"%>
          <%= link_to raw("<i class=\"trash icon\"></i>"), event, class: "ui right floated mini red icon button",
                      :method => :delete, :data => {:confirm => 'Are you sure?'} %>
        </div>
      </div>
    </div>
  <% end %>
</div>