<%= link_to "Create Slot", new_slot_path, class: "ui orange button" %>
<%= link_to "View Participants", event_participants_path(@event.id), class: "ui violet button" %>
<%= link_to "Edit", edit_event_path(@event), class: "ui right floated teal button"%>
<%= link_to "Delete", @event, class: "ui right floated red button",
                      :method => :delete, :data => {:confirm => 'Are you sure?'} %>

<%= render 'introduction', event: @event %>

<%= render 'timetable', event: @event %>