<div class="ui raised segment">
  <div class="ui items">
      <div class="item">
          <div class="content">
            <a class="header">Title of Event</a>
            <div class="meta">
              <span class="cinema">Description</span>
            </div>
            <div class="description">
              <p>This is description</p>
            </div>
            <div class="extra">
             <br />
             <div class="ui left floated">Leonardo-Campus 18, 48151 Münster</div>
             <div class="ui right floated">2019.02.02 to 2019.02.03</div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  
