<%= link_to 'All Events', events_path, class: "item #{'active' if current_page?(events_path)}"%>
<%= link_to raw("<i class=\"write icon\"></i> New Event"), new_event_path, class: "item #{'active' if current_page?(new_event_path)}"%>
<div class="ui dropdown item">
  Change View <i class="dropdown icon"></i>
  <div class="menu">
    <%= link_to 'Standard', standard_path, class: "item #{'active' if current_page?(standard_path)}"%>
    <%= link_to 'Listed', listed_path,  class: "item #{'active' if current_page?(listed_path)}" %>
    <%= link_to 'Boxed', boxed_path,  class: "item #{'active' if current_page?(boxed_path)}" %>
  </div>
</div>
<div class="right menu">
  <div class="item">
      <div class="ui primary inverted button">Logout</div>
  </div>
  <h2 class="item"><i class="snowflake outline icon"></i> ERCIS-EMS</h2>
</div>

<%
=begin
<%= link_to 'All Events', events_path, :class => "item" %>
<div class="ui dropdown item">
  Change View <i class="dropdown icon"></i>
  <div class="menu">
    <a class="item">Standard</a>
    <a class="item">Listed</a>
    <a class="item">Boxed</a>
  </div>
</div>
<%= link_to raw("<i class=\"write icon\"></i> New Event"), new_event_path, :class => "item" %>
<div class="right menu">
  <div class="item">
      <div class="ui primary inverted button">Login</div>
  </div>
  <h2 class="item"><i class="snowflake outline icon"></i>  ERCIS-EMS</h2>
</div>
=end %>