<!DOCTYPE html>
<html>
  <head>
    <title>ErcisEms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="ui blue inverted segment" style="border-radius: 0 !important">
      <div class="ui inverted secondary large menu">
        <div class="ui container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    <div class="ui container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <div id="footer"></div>
  </body>
</html>
